*{
    padding: none;
    margin: none;
}
body{
    color-scheme: light;
    background-color: rgb(236,236,236);
    color: black;
    overflow-x: hidden;
}
@font-face {
    font-family: 'poppins-medium';
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face{
    font-family: 'poppins-black';
    src: url(../fonts/Poppins/Poppins-Black.ttf);
}
@font-face{
    font-family: 'poppins-bold';
    src: url(../fonts/Poppins/Poppins-Bold.ttf)
}

.logoPrincipal{
    width: 40vw;
    margin: 0vw 30vw 7vw 30vw;
    padding-top: 7vw;
}
.logoPrincipal img{
    width: 100%;
}

.faixaOrange{
    background-color: #fa952a;
    width: 80vw;
    height: 30vw;
    color: white;
}
.faixaOrange .image{
    position: absolute;
    width: 42vw;
    top: 9.9vw;
    right: 0vw;
}
.faixaOrange .image img{
    width: 100%;
}
.faixaOrange .title{
    text-align: center;
    width: 70vw;
    font-size:2.5vw;
    line-height: 8vw;
    padding-top: 6vw;
}
.faixaOrange .title h2{ font-size: 5vw;line-height: 6.2vw; font-family: 'poppins-medium';font-weight: 100;text-transform: uppercase;}
.faixaOrange .title h1{ font-size: 9vw; line-height: 5vw; font-family: 'poppins-black'; }
.faixaOrange .title h3{ font-size: 2.7vw; line-height: 8.5vw; font-family: 'poppins-medium';font-weight: 100; }

.beneficios .title{
   width: 100vw;
   text-align: center;
   color: #839431;
}
.beneficios .title h1{
    background-color: #839431;
    color: white;
    padding: 1vw 1.5vw 1.5vw 1.5vw;
    width: 55%;
    font-size: 5vw;
    margin: 5vw auto 2vw auto;
    border-radius: 3vw;
}
.beneficios .title p{
    font-family: 'poppins-bold';
    width: 55%;
    margin: 0 auto;
    font-size: 2vw;

}
.boxers{ 
    width: 100vw;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxers .box{
    font-size: 3.1vw;
    line-height: 5.5vw;
    margin: 4vw 1vw;
    background-color: #fa952a;
    color: #ffffff;
    width: 45vw;
    height: 50vw;
    text-transform: uppercase;
    padding: 3.5vw 0 2vw 0;
    text-align: center;
    border-radius: 2vw;
    box-shadow: 0 0.3vw 0.5vw rgba(100,100,100,0.7);
    position: relative;
}
.boxers .box img{
    width: 35vw;
    float:initial;
}

.boxers .box a{
    text-decoration: none;
    color: white;
    background-color: #839431;
    padding: 3vw 5vw;
    border-radius: 2vw;
    font-size: 4.5vw;
    font-weight: 700;
    position: absolute;
    bottom: -3vw;
    left: 6vw;

}

@media (prefers-color-scheme: dark) {
    html, body {
      background-color: white !important;
      color: black !important;
      filter: none !important;
    }
  
    img, video {
      filter: none !important;
    }
  }

  @media (min-width: 1024px) { 
    /* Layout de desktop */
    .logoPrincipal{
        width: 25vw;
        margin: 0vw 37.5vw 4vw 37.5vw;
        padding-top: 4vw;
    }
    .faixaOrange{
        background-color: #fa952a;
        width: 80vw;
        height: 15vw;
    }
    .faixaOrange .image{
        position: absolute;
        width: 27vw;
        top: 0.5vw;
    }
    .faixaOrange .title{
        text-align: center;
        width: 70vw;
        padding-top: 1vw;
        margin-left: 15vw;
    }
    .faixaOrange .title h2{ font-size: 3vw;line-height: 5vw;}
    .faixaOrange .title h1{ font-size: 6vw; line-height: 2.5vw;}
    .faixaOrange .title h3{ font-size: 2vw; line-height: 6.5vw;}
    
    /*button verde com texto de benefícios */

     .beneficios .title h1{
        padding: 0.5vw 1.5vw 1vw 1.5vw;
        width: 35%;
        font-size: 3vw;
        margin: 5vw auto 1vw auto;
        border-radius: 2vw;
    }
    .beneficios .title p{
        width: 40%;
        font-size: 1.4vw;
    
    }
    .boxers .box{
        font-size: 1vw;
        margin: 1.2vw;
        background-color: #fa952a;
        color: #ffffff;
        width: 21vw;
        height: 30vw;
        text-transform: uppercase;
        padding: 1.5vw 0 0.5vw 0;
        text-align: center;
        border-radius: 1vw;
        position: relative;
    }
    .boxers .box a{
        padding: 0.5vw 2vw;
        border-radius: 1vw;
        font-size: 2.5vw;
        bottom: -2vw;
        left: 2vw;
    }
    .boxers .box img{
        width:21vw !important;
        margin: 0 !important;
        position: absolute;
        bottom: 5vw;
        left: 0;
    }

  }